<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cardID</key>
		<array>
			<string>442742</string>
			<string>468563</string>
			<string>475050</string>
			<string>477517</string>
			<string>478825</string>
			<string>4867</string>
			<string>517805</string>
			<string>4060</string>
			<string>4124</string>
			<string>414720</string>
			<string>414740</string>
			<string>414840</string>
			<string>420767</string>
			<string>422695</string>
			<string>424631</string>
			<string>426655</string>
			<string>426656</string>
			<string>426684</string>
			<string>428208</string>
			<string>4301</string>
			<string>4349</string>
			<string>4312</string>
			<string>43661</string>
			<string>438857</string>
			<string>436667</string>
			<string>4408</string>
			<string>441104</string>
			<string>4559</string>
			<string>448156</string>
			<string>461983</string>
			<string>487312</string>
			<string>487312</string>
			<string>5110</string>
			<string>5111</string>
			<string>5112</string>
			<string>5113</string>
			<string>5114</string>
			<string>5115</string>
			<string>5116</string>
			<string>5117</string>
			<string>5118</string>
			<string>5119</string>
			<string>522276</string>
			<string>514923</string>
			<string>512012</string>
			<string>540168</string>
			<string>530786</string>
			<string>530785</string>
			<string>5417</string>
			<string>544748</string>
			<string>5490</string>
			<string>561150</string>
			<string>627425</string>
			<string>558250</string>
			<string>628181</string>
			<string>549104</string>
		</array>
		<key>bankWebsite</key>
		<string>https://www.chase.com/</string>
		<key>emergencyNumber</key>
		<string>(US) 1-800-432-3117; (Abroad) +1-302-594-8200</string>
		<key>bankName</key>
		<string>JPMorgan Chase</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>410489</string>
			<string>510840</string>
			<string>531106</string>
			<string>5455</string>
			<string>558158</string>
		</array>
		<key>bankWebsite</key>
		<string>http://www.bancorpsouthonline.com/</string>
		<key>emergencyNumber</key>
		<string>1-888-797-7711</string>
		<key>bankName</key>
		<string>BancorpSouth</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>414718</string>
			<string>416724</string>
			<string>425907</string>
			<string>425908</string>
			<string>430763</string>
			<string>43130</string>
			<string>431500</string>
			<string>4323</string>
			<string>434256</string>
			<string>434257</string>
			<string>434258</string>
			<string>442518</string>
			<string>4465</string>
			<string>473099</string>
			<string>473702</string>
			<string>475637</string>
			<string>480817</string>
			<string>4868</string>
			<string>514019</string>
			<string>514020</string>
			<string>514021</string>
			<string>546616</string>
			<string>5474</string>
		</array>
		<key>bankWebsite</key>
		<string>https://www.wellsfargo.com</string>
		<key>emergencyNumber</key>
		<string>(US) 1-800-642-4720; (Abroad) +1-925-825-7600</string>
		<key>bankName</key>
		<string>Wells Fargo</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>374314</string>
			<string>374322</string>
			<string>4117</string>
			<string>414716</string>
			<string>417008</string>
			<string>417009</string>
			<string>417010</string>
			<string>417011</string>
			<string>421764</string>
			<string>421765</string>
			<string>421766</string>
			<string>4256</string>
			<string>426428</string>
			<string>426429</string>
			<string>426451</string>
			<string>426452</string>
			<string>426465</string>
			<string>430536</string>
			<string>430594</string>
			<string>430550</string>
			<string>430546</string>
			<string>430544</string>
			<string>432624</string>
			<string>432625</string>
			<string>432626</string>
			<string>432627</string>
			<string>432628</string>
			<string>432629</string>
			<string>432630</string>
			<string>434255</string>
			<string>4356</string>
			<string>449533</string>
			<string>470132</string>
			<string>4744</string>
			<string>4888</string>
			<string>5401</string>
			<string>549035</string>
			<string>549099</string>
			<string>587781</string>
		</array>
		<key>bankWebsite</key>
		<string>https://www.bankofamerica.com/</string>
		<key>emergencyNumber</key>
		<string>(US) 1-800-732-9194; (Abroad) +1-757-677-4701</string>
		<key>bankName</key>
		<string>Bank of America</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>374345</string>
			<string>374350</string>
			<string>400944</string>
			<string>407441</string>
			<string>4128</string>
			<string>414711</string>
			<string>4147463</string>
			<string>4147464</string>
			<string>418169</string>
			<string>422727</string>
			<string>426534</string>
			<string>426569</string>
			<string>427760</string>
			<string>431178</string>
			<string>431239</string>
			<string>433388</string>
			<string>436501</string>
			<string>440210</string>
			<string>440211</string>
			<string>454605</string>
			<string>4556</string>
			<string>4563</string>
			<string>456715</string>
			<string>456738</string>
			<string>462890</string>
			<string>4645</string>
			<string>468524</string>
			<string>4705</string>
			<string>479110</string>
			<string>479111</string>
			<string>490627</string>
			<string>490696</string>
			<string>4907</string>
			<string>491002</string>
			<string>4920</string>
			<string>498857</string>
			<string>5049</string>
			<string>510136</string>
			<string>510142</string>
			<string>514012</string>
			<string>514876</string>
			<string>515854</string>
			<string>520306</string>
			<string>523935</string>
			<string>5262</string>
			<string>5268</string>
			<string>530111</string>
			<string>533505</string>
			<string>533506</string>
			<string>538827</string>
			<string>539028</string>
			<string>539655</string>
			<string>540204</string>
			<string>540205</string>
			<string>540256</string>
			<string>5403</string>
			<string>540805</string>
			<string>541065</string>
			<string>5424</string>
			<string>5466</string>
			<string>549113</string>
			<string>552004</string>
			<string>552060</string>
			<string>552093</string>
			<string>552415</string>
			<string>554219</string>
			<string>554619</string>
			<string>555045</string>
			<string>5588</string>
			<string>559139</string>
			<string>585210</string>
			<string>588644</string>
			<string>6035</string>
			<string>625076</string>
			<string>625077</string>
			<string>666006</string>
			<string>676613</string>
		</array>
		<key>bankWebsite</key>
		<string>https://www.citibank.com</string>
		<key>emergencyNumber</key>
		<string>(US) 1-800-950-5114; (Abroad) +1-605-335-2222</string>
		<key>bankName</key>
		<string>CITI</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>3746010</string>
			<string>356210</string>
			<string>4028</string>
			<string>405919</string>
			<string>422629</string>
			<string>42655</string>
			<string>4384</string>
			<string>44509</string>
			<string>447211</string>
			<string>447692</string>
			<string>454361</string>
			<string>456079</string>
			<string>458123</string>
			<string>458440</string>
			<string>4585</string>
			<string>464944</string>
			<string>465942</string>
			<string>465943</string>
			<string>465944</string>
			<string>467932</string>
			<string>4720</string>
			<string>483593</string>
			<string>486239</string>
			<string>486442</string>
			<string>4910</string>
			<string>4912</string>
			<string>492111</string>
			<string>492127</string>
			<string>492160</string>
			<string>494120</string>
			<string>496604</string>
			<string>496645</string>
			<string>496696</string>
			<string>497160</string>
			<string>510005</string>
			<string>517669</string>
			<string>518542</string>
			<string>519398</string>
			<string>5134</string>
			<string>5155</string>
			<string>5156</string>
			<string>520169</string>
			<string>521899</string>
			<string>532561</string>
			<string>5396</string>
			<string>540041</string>
			<string>5407</string>
			<string>5409</string>
			<string>5412</string>
			<string>543122</string>
			<string>543328</string>
			<string>543458</string>
			<string>543460</string>
			<string>5442</string>
			<string>5443</string>
			<string>544758</string>
			<string>546641</string>
			<string>546680</string>
			<string>547347</string>
			<string>548955</string>
			<string>549110</string>
			<string>549409</string>
			<string>549471</string>
			<string>560054</string>
			<string>561066</string>
			<string>589460</string>
			<string>601138</string>
			<string>621443</string>
			<string>622252</string>
			<string>625096</string>
			<string>675940</string>
			<string>625098</string>
			<string>676481</string>
			<string>7001</string>
			<string>7021</string>
		</array>
		<key>bankWebsite</key>
		<string>https://www.hsbc.com</string>
		<key>emergencyNumber</key>
		<string> (UK) +441442422047; (US) +1-800-975-4722; (Canada) +1-866-406-4722; (France) +330810246810</string>
		<key>bankName</key>
		<string>HSBC</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>4251</string>
			<string>4430</string>
			<string>443060</string>
			<string>4436</string>
		</array>
		<key>bankWebsite</key>
		<string>https://www.pnc.com/</string>
		<key>emergencyNumber</key>
		<string>1-888-762-2265</string>
		<key>bankName</key>
		<string>PNC</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>400344</string>
			<string>412174</string>
			<string>4143</string>
			<string>426684</string>
			<string>4388</string>
			<string>480212</string>
			<string>477597</string>
			<string>4809</string>
			<string>4862</string>
			<string>486213</string>
			<string>4873</string>
			<string>5457</string>
			<string>487392</string>
			<string>5460</string>
			<string>549945</string>
		</array>
		<key>bankWebsite</key>
		<string>http://www.capitalone.com/</string>
		<key>emergencyNumber</key>
		<string>(US) 1-800-955-7070; (Abroad US Customers) +1-804-934-2001; (Canada) 1-800-481-3239; (Abroad Canadian Customers) +1-804-934-2010</string>
		<key>bankName</key>
		<string>CapitalOne</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>4029</string>
			<string>408586</string>
			<string>412266</string>
			<string>415874</string>
			<string>418221</string>
			<string>4482</string>
			<string>4520</string>
			<string>4551</string>
			<string>455121</string>
			<string>472409</string>
			<string>479213</string>
			<string>589297</string>
		</array>
		<key>bankWebsite</key>
		<string>http://www.td.com/</string>
		<key>emergencyNumber</key>
		<string>(US) 1-888-561-8861; (US Customers Abroad) +1-416-307-7722; (Canada) 1-866-222-3456; (Canadian Customers Abroad) +1-416-983-5393</string>
		<key>bankName</key>
		<string>TD</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>586357</string>
			<string>410894</string>
		</array>
		<key>bankWebsite</key>
		<string>http://www.bbt.com/</string>
		<key>emergencyNumber</key>
		<string>(US) 800-476-4228; (Abroad) +1-910-914-8250</string>
		<key>bankName</key>
		<string>BB&amp;T</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>585048</string>
			<string>401180</string>
			<string>4488</string>
			<string>546540</string>
			<string>585719</string>
		</array>
		<key>bankWebsite</key>
		<string>https://www.suntrust.com/</string>
		<key>emergencyNumber</key>
		<string>1-800-477-9702</string>
		<key>bankName</key>
		<string>Suntrust</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>413002</string>
			<string>557552</string>
		</array>
		<key>bankWebsite</key>
		<string>https://www.ally.com/</string>
		<key>emergencyNumber</key>
		<string>(US) 1-877-247-2559; (Abroad) +1-757-247-2559</string>
		<key>bankName</key>
		<string>Ally Financial</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>440319</string>
			<string>4919</string>
		</array>
		<key>bankWebsite</key>
		<string>http://www.schwab.com/</string>
		<key>emergencyNumber</key>
		<string>(US) 1-888-403-9000; (Abroad) +1-317-596-4501</string>
		<key>bankName</key>
		<string>Charles Schwab</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>442790</string>
			<string>454305</string>
			<string>475116</string>
			<string>475117</string>
			<string>475118</string>
			<string>475126</string>
			<string>484412</string>
			<string>532700</string>
			<string>510241</string>
			<string>542505</string>
			<string>543482</string>
			<string>547356</string>
			<string>5520</string>
			<string>547367</string>
			<string>552068</string>
			<string>6718</string>
			<string>675964</string>
		</array>
		<key>bankWebsite</key>
		<string>http://www.rbs.com/</string>
		<key>emergencyNumber</key>
		<string>+44 1268 500 813 (UK), 1-800-443-0164 (US)</string>
		<key>bankName</key>
		<string>RBS / Citizens</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>528061</string>
			<string>5524</string>
			<string>500766</string>
			<string>519000</string>
			<string>5191</string>
			<string>5192</string>
			<string>5193</string>
			<string>9194</string>
			<string>51954</string>
			<string>558346</string>
			<string>500766</string>
		</array>
		<key>bankWebsite</key>
		<string>https://www.bmo.com/</string>
		<key>emergencyNumber</key>
		<string>(US &amp; Canada) 1-800-361-3361; (Abroad) +1-514-877-0330</string>
		<key>bankName</key>
		<string>BMO - Bank of Montreal</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>4530</string>
			<string>4540</string>
		</array>
		<key>bankWebsite</key>
		<string>http://www.desjardins.com/</string>
		<key>emergencyNumber</key>
		<string>(Canada &amp; US) 1-800-363-3380; (Étranger/Abroad) +1-514-397-4610</string>
		<key>bankName</key>
		<string>Desjardins</string>
	</dict>
	<dict>
		<key>cardID</key>
		<array>
			<string>5452</string>
			<string>549191</string>
			<string>549192</string>
			<string>549193</string>
			<string>549198</string>
			<string>549199</string>
			<string>549100</string>
		</array>
		<key>bankWebsite</key>
		<string>https://www.mbna.ca</string>
		<key>emergencyNumber</key>
		<string>(Canada) 1-888-876-6262; (Abroad/Étranger) +1-613-907-3505</string>
		<key>bankName</key>
		<string>MBNA Canada</string>
	</dict>
</array>
</plist>
